<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CCM Translations</title>
    <!--Libs-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/loader.min.css" integrity="sha512-+6VqtNJxRmuo2S1AnpgaP6T2CtH5a9aCX2mBIl58uE5DMtxxT9O6JNt2MQvIJAD1CGgJ98ERIKhGJkcX1OArVg==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js" integrity="sha512-QJsj3afWlCpnQ60XzzYE8Jb3IgHIK1BcGZox9rUSmRRq3Ocz9vQ1yR80eX2/b9jfx/UuT5zYWNdrM8Te/eCMhQ==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/placeholder.min.css" integrity="sha512-NJ9YPRrGGZFoIO+SJ+aJ9TOXgEN2de5NFhlG1rAcIL/pc5Py5qE4HZUIlGUt5nP59KFTIh5Cxy6OhaYESeIWFw==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.js" integrity="sha512-8F/2JIwyPohlMVdqCmXt6A6YQ9X7MK1jHlwBJv2YeZndPs021083S2Z/mu7WZ5g0iTlGDYqelA9gQXGh1F0tUw==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css" integrity="sha512-8Tb+T7SKUFQWOPIQCaLDWWe1K/SY8hvHl7brOH8Nz5z1VT8fnf8B+9neoUzmFY3OzkWMMs3OjrwZALgB1oXFBg==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.css" integrity="sha512-YYS7fyqDxVE/yJ1280i8KjA+nC7wAtv2u/qkulKbdMpmp8DBWX0Wj+HtILsFyvq+fouCwCyr0hasPAz1eBlvwA==" crossorigin="anonymous" />
    <!--Scripts-->
    <script src="/js/theme.js" charset="utf-8"></script>
    <script src="/js/imageLoader.js" charset="utf-8"></script>


    <script type="text/javascript">
    var app;
    var chapterId = window.location.pathname.split('/')[2];

    $(function() {
      $('#menu').load('/parts/menu.html', function() {
        $('#footer').load('/parts/footer.html', function() {

          loadTheme();
          $(".mload").show();

          app = new Vue({
           el: '#app',
           data: {
             "ready": false,
             "info": {},
             "manga": {},
             "nextChapter": {
               "exist": false,
               "id": 0
             },
             "previousChapter": {
               "exist": false,
               "id": 0
             },
             "quality": ""
           }
         });

         if(getCookie("quality")) {
           app.quality = getCookie("quality");
         }


         $.getJSON('https://api.minettyx.com/ccm/chapter2?id='+chapterId, function(dataa) {
           if(!dataa.ok) {
             window.location.href = "/404";
           }
           app.info = dataa;
           $.fn.imageOrder(".mangapage");

           $.getJSON('https://api.minettyx.com/ccm/manga?id='+dataa.manga_id, function(dataaa) {
             app.manga = dataaa;
             app.ready = true;

             nextChapter();
             previousChapter();
           });

           $('.ui.dropdown').dropdown();
         });
        });
      });
    });

    function nextChapter() {
      app.manga.chapter.forEach((item, i) => {
        if(item.id == chapterId) {
          if(app.manga.chapter[i-1] != null) {
            app.nextChapter.id = app.manga.chapter[i-1].id;
            app.nextChapter.exist = true;
          }
        }
      });
    }
    function previousChapter() {
      app.manga.chapter.forEach((item, i) => {
        if(item.id == chapterId) {
          if(app.manga.chapter[i+1] != null) {
            app.previousChapter.id = app.manga.chapter[i+1].id;
            app.previousChapter.exist = true;
          }
        }
      });
    }

    function quality(val) {
      setCookie("quality", val, 600);
      location.reload();
    }
    function qualityName() {
      if(getCookie("quality")) {
        qual = getCookie("quality");
        if(qual == "&w=800&output=jpg") {
          return "Normale";
        } else if(qual == "&w=800&output=jpg&q=30") {
          return "Buona";
        } else if(qual == "") {
          return "Massima";
        }
      } else {
        return "Massima";
      }
    }
    </script>
  </head>
  <body>
    <div class="ui active loader" id="pageloader"></div>
    <div id="app" style="display: none;">

      <div id="menu"></div>

      <br>
      <br>

      <div class="ui very padded container">

        <div class="ui grid">
          <div class="eight wide column">
            <a style="display: none; font-size: 2em; font-weight: bolder" v-if="ready" v-bind:href='"/manga/"+info.manga_id' class="ui padded header mload">{{ manga.manga.title }}</a>
            <div style="display: none;" v-if="!ready" class="ui placeholder padded header mload"><div class="header"><div class="line"></div></div></div>
          </div>

          <div class="eight wide column right aligned">

            <div style="display: none" class="ui selection dropdown mload">
              <i class="dropdown icon"></i>
              <div class="text">Qualità ({{qualityName()}})</div>
              <div class="menu">
                <div class="item" onclick='quality("")'>Massima</div>
                <div class="item" onclick='quality("&w=800&output=jpg")'>Normale</div>
                <div class="item" onclick='quality("&w=800&output=jpg&q=30")'>Buona</div>
              </div>
            </div>

            <div style="display: none" class="ui selection dropdown mload">
              <i class="dropdown icon"></i>
              <div class="text">{{info.volume ? "Vol. "+info.volume+" " : ""}}{{info.chapter ? "Ch. "+info.chapter : ""}}{{info.title ? " - "+info.title : ""}}</div>
              <div class="menu">
                <div class="item" v-for="chap in manga.chapter" v-bind:onclick='"document.location.href = \"/chapter/"+chap.id+"\""'>{{chap.volume ? "Vol. "+chap.volume+" " : ""}}{{chap.chapter ? "Ch. "+chap.chapter : ""}}{{chap.title ? " - "+chap.title : ""}}</div>
              </div>
            </div>

          </div>
        </div>

        <br>


        <div v-for="img in info.page_array" >
          <img v-bind:order="parseInt(info.page_array.indexOf(img))+1" style="display: none" v-bind:onload="'$(\'#imgLoad' + info.page_array.indexOf(img) + '\').hide(); $(this).show();'" v-bind:src="img+quality" alt="" class="ui fluid image mangapage">
          <div v-bind:id="'imgLoad'+info.page_array.indexOf(img)">
            <br>
            <br>
            <div class="ui active centered inline loader"></div>
            <br>
            <br>
          </div>
        </div>

        <br>

        <div class="ui grid">
          <div class="sixteen wide column center aligned">

            <a style="display: none" v-if="previousChapter.exist" v-bind:href="'/chapter/'+previousChapter.id" class="ui labeled icon button mload"><i class="left arrow icon"></i>Precedente</a>

            <div style="display: none" class="ui selection dropdown mload">
              <i class="dropdown icon"></i>
              <div class="text">{{info.volume ? "Vol. "+info.volume+" " : ""}}{{info.chapter ? "Ch. "+info.chapter : ""}}{{info.title ? " - "+info.title : ""}}</div>
              <div class="menu">
                <div class="item" v-for="chap in manga.chapter" v-bind:onclick='"document.location.href = \"/chapter/"+chap.id+"\""'>{{chap.volume ? "Vol. "+chap.volume+" " : ""}}{{chap.chapter ? "Ch. "+chap.chapter : ""}}{{chap.title ? " - "+chap.title : ""}}</div>
              </div>
            </div>

            <a style="display: none" v-if="nextChapter.exist" v-bind:href="'/chapter/'+nextChapter.id" class="ui right labeled icon button mload"><i class="right arrow icon"></i>Prossimo</a>

          </div>
        </div>


      </div>

      <br>
      <br>

      <div id="footer"></div>
    </div>
  </body>
</html>
