<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CCM Translations</title>
    <!--Libs-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js" integrity="sha512-QJsj3afWlCpnQ60XzzYE8Jb3IgHIK1BcGZox9rUSmRRq3Ocz9vQ1yR80eX2/b9jfx/UuT5zYWNdrM8Te/eCMhQ==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/placeholder.min.css" integrity="sha512-NJ9YPRrGGZFoIO+SJ+aJ9TOXgEN2de5NFhlG1rAcIL/pc5Py5qE4HZUIlGUt5nP59KFTIh5Cxy6OhaYESeIWFw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css" integrity="sha512-8Tb+T7SKUFQWOPIQCaLDWWe1K/SY8hvHl7brOH8Nz5z1VT8fnf8B+9neoUzmFY3OzkWMMs3OjrwZALgB1oXFBg==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/loader.min.css" integrity="sha512-+6VqtNJxRmuo2S1AnpgaP6T2CtH5a9aCX2mBIl58uE5DMtxxT9O6JNt2MQvIJAD1CGgJ98ERIKhGJkcX1OArVg==" crossorigin="anonymous" />
    <!--Scripts-->
    <script src="/js/theme.js" charset="utf-8"></script>
    <!--Functions-->
    <script src="/js/functions/timesince.js" charset="utf-8"></script>


    <script type="text/javascript">
    $(function() {
      $('#menu').load('/parts/menu.html', function() {
        $('#footer').load('/parts/footer.html', function() {

          loadTheme();
          $(".mload").show();

          var app = new Vue({
            el: '#app',
            data: {
              "ready": false,
              "loadingSize": [{}, {}, {}, {}, {}],
              "latest": {}
            }
          })

          $.getJSON('https://api.minettyx.com/ccm/latestChapters', function(dataa) {
            app.latest = dataa;
            app.ready = true;
          });
        });
      });
    });
    </script>
  </head>
  <body>
    <div class="ui active loader" id="pageloader"></div>
    <div id="app" style="display: none;">

      <div id="menu"></div>


      <br>
      <br>

      <div class="ui very padded text container">
        <h1 class="ui padded header">Ultimi Capitoli</h1>
      </div>

      <div style="display: none;" v-if="ready" v-for="ite in latest" class="ui raised very padded text container segment mload">
        <a  v-bind:href='"manga/"+ite.chapters[0].manga' class="ui header">{{ ite.title }}</a>
        <br>
        <br>
        <div class="ui grid">
          <div class="twelve wide column">
            <spam v-for="chapter in ite.chapters"><a v-bind:href='"chapter/"+chapter.id'>{{ chapter.name }}<br></a></spam>
          </div>
          <div class="four wide column">
            <spam v-for="chapter in ite.chapters"><i class="clock outline icon"></i> {{ timeSince(new Date(chapter.date))+" fa" }}<br></spam>
          </div>
        </div>
      </div>

      <div style="display: none; place-items: center; display: grid;" v-if="ready" class="ui very padded text container mload">
        <a href="/archive" class="ui button center">Altro</a>
      </div>



      <div v-if="!ready" v-for="load in loadingSize" class="ui raised very padded text container segment">
        <div class="ui placeholder">
          <div class="image header">
            <div class="line"></div>
            <div class="line"></div>
          </div>
          <div class="paragraph">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <br>
      <br>

      <div id="footer"></div>
    </div>
  </body>
</html>
