<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CCM Translations</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js" integrity="sha512-QJsj3afWlCpnQ60XzzYE8Jb3IgHIK1BcGZox9rUSmRRq3Ocz9vQ1yR80eX2/b9jfx/UuT5zYWNdrM8Te/eCMhQ==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/placeholder.min.css" integrity="sha512-NJ9YPRrGGZFoIO+SJ+aJ9TOXgEN2de5NFhlG1rAcIL/pc5Py5qE4HZUIlGUt5nP59KFTIh5Cxy6OhaYESeIWFw==" crossorigin="anonymous" />
    <script src="app.js?v=0.2" charset="utf-8"></script>
  </head>
  <body>
    <div id="app">

      <div class="ui attached stackable menu">
        <div class="ui container">
          <a class="item" href="/">
            <i class="home icon"></i> Home
          </a>
          <a class="item" href="https://mangadex.org/group/12728/ccm-translations" target="_blank">
            <i class="book icon"></i> MangaDex
          </a>
          <a class="item" href="staff">
            <i class="users icon"></i> Staff
          </a>
          <div class="ui simple dropdown item">
            <i class="telegram plane icon"></i> Telegram
            <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item" href="https://t.me/ccmtranslations" target="_blank">Canale aggiornamenti</a>
              <a class="item" href="https://t.me/ccmtranslationsbot" target="_blank">Support bot</a>
            </div>
          </div>
          <div class="right item">
            <div class="ui disabled icon input" data-content="Work in progress"><i class="search icon"></i><input type="text" placeholder="Search..."></div>
          </div>
        </div>
      </div>


      <br>
      <br>

      <div class="ui very padded text container">
        <h1 class="ui padded header">Ultimi Capitoli</h1>
      </div>

      <div style="display: none;" v-if="ready" v-for="ite in latest.channel.item" class="ui raised very padded text container segment chapter">
        <h2 class="ui header">{{ ite.title.split(" - ")[0] }}</h2>
        <h3>{{ ite.title.split(" - ")[1] }}</h3>
        <div class="ui two column stackable grid">
          <div class="column">
            <p><i class="calendar icon"></i> {{ ite.pubDate.split(" +0000")[0] }}</p>
          </div>
          <div class="column">
            <p><i class="user icon"></i> {{ ite.description.split("Uploader: ")[1].split(" - ")[0] }}</p>
          </div>
        </div>
        <br>
        <a v-bind:href="ite.link" class="ui button" target="_blank">Leggi su MangaDex</a>
      </div>

      <div style="display: none; place-items: center; display: grid;" v-if="ready" class="ui very padded text container morechapters">
        <a href="https://mangadex.org/group/12728/ccm-translations/chapters/2/" class="ui button center">More</a>
      </div>



      <div v-if="!ready" v-for="load in loadingSize" class="ui raised very padded text container segment">
        <div class="ui placeholder">
          <div class="image header">
            <div class="line"></div>
            <div class="line"></div>
          </div>
          <div class="paragraph">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <br>
      <br>

    </div>
  </body>
</html>
