<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CCM Translations</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js" integrity="sha512-QJsj3afWlCpnQ60XzzYE8Jb3IgHIK1BcGZox9rUSmRRq3Ocz9vQ1yR80eX2/b9jfx/UuT5zYWNdrM8Te/eCMhQ==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/placeholder.min.css" integrity="sha512-NJ9YPRrGGZFoIO+SJ+aJ9TOXgEN2de5NFhlG1rAcIL/pc5Py5qE4HZUIlGUt5nP59KFTIh5Cxy6OhaYESeIWFw==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.5.0/jszip.min.js" integrity="sha512-y3o0Z5TJF1UsKjs/jS2CDkeHN538bWsftxO9nctODL5W40nyXIbs0Pgyu7//icrQY9m6475gLaVr39i/uh/nLA==" crossorigin="anonymous"></script>
    <script src="/js/menu.js?v=3" charset="utf-8"></script>
    <script src="/js/functions.js" charset="utf-8"></script>
    <script src="/js/download.js?v=16" charset="utf-8"></script>
    <script>

    var app;

    $(function() {

      $(".mload").show();

      app = new Vue({
        el: '#app',
        data: {
          "ready": false,
          "info": {
            "manga": {
              "title": "",
              "status": -1,
              "author": "",
              "artist": ""
            },
            "chapter": {}
          },
          "loadSize": [{}, {}, {}, {}, {}]
        }
      });

      $.getJSON('https://api.minettyx.com/ccm/manga?id='+window.location.pathname.split('/')[2], function(dataa) {
        if(!dataa.ok) {
          window.location.href = "/404";
        }
        app.info = dataa;
        app.ready = true;
      });

      setInterval(function() {
        if(dwnTtl() == 0){
          $(".ui.icon.button.mini").removeClass("loading");
        } else {
          setdwnTtl(0);
        }
      }, 1000);
    });

    function status(val) {
      if(val == 1) {
        return "In corso";
      } else if(val == 2) {
        return "Finito";
      } else if(val == 3) {
        return "Cancellato";
      } else if(val == 4) {
        return "In slallo";
      } else {
        return "";
      }
    }

    function downlo(id, btn) {
      $.getJSON('https://api.minettyx.com/ccm/chapter2?id='+id, function(dataaa) {
        var name = app.info.manga.title+" "+(dataaa.volume ? "Vol. "+dataaa.volume+" " : "")+"Ch. "+dataaa.chapter+(dataaa.title ? " - "+dataaa.title : "");
        $('#prgrs').progress({ percent: 0});
        $("#prgrs").show();
        compressed_img(dataaa.page_array, name, btn);
      });
    }

    function getDownload(id) {
      return "downlo('"+id+"', this)";
    }

    </script>
  </head>
  <body>
    <div id="app">

      <div id="menu"></div>

      <br>
      <br>

      <div class="ui very padded container">
        <h1 style="display: none;" v-if="ready" class="ui padded header mload">{{ info.manga.title }}</h1>
        <div style="display: none;" v-if="!ready" class="ui placeholder padded header mload"><div class="header"><div class="line"></div></div></div>

        <div class="ui grid">
          <div class="four wide column">

            <div style="display: none;" v-if="ready" class="ui card mload">
              <div class="image">
                <img v-bind:src="'https://mangadex.org'+info.manga.cover_url">
              </div>
              <div class="content">
                <a class="header">{{ info.manga.title }}</a>
                <div class="meta">
                  <span class="date">{{ status(info.manga.status) }}</span>
                </div>
                <div class="description">
                  Autore: {{ info.manga.author }}<br>
                  Disegni: {{ info.manga.artist }}
                </div>
              </div>
              <div class="extra content">
                <i class="file icon"></i>
                <a class="ui primary button" v-bind:href="'/chapter/'+info.chapter[info.chapter.length-1].id">Inizia a leggere</a>
              </div>
            </div>

            <div style="display: none;" v-if="!ready" class="ui card mload">
              <div class="image">
                <div class="ui placeholder">
                  <div class="square image"></div>
                </div>
              </div>
              <div class="content">
                <div class="ui placeholder">
                  <div class="header">
                    <div class="long line"></div>
                  </div>
                  <div class="paragraph">
                    <div class="short line"></div>
                    <div class="short line"></div>
                  </div>
                </div>
              </div>
              <div class="extra content">
                <div class="ui placeholder">
                  <div class="paragraph">
                    <div class="very short line"></div>
                  </div>
                </div>
              </div>
            </div>


          </div>
          <div class="twelve wide column">
            <table class="ui celled table">
              <thead>
                <tr>
                  <th><i class="file outline icon"></i>{{ info.ccount }}</th>
                  <th class="right aligned"><i class="arrow alternate circle down outline icon"></i></th>
                  <th class="right aligned"><i class="clock outline icon"></i></th>
                </tr>
              </thead>
              <tbody>
                <tr style="display: none;" v-for="chap in info.chapter" class="mload">
                  <td data-label="Name"><a v-bind:href='"/chapter/"+chap.id'>{{chap.volume ? "Vol. "+chap.volume+" " : ""}}{{chap.chapter ? "Ch. "+chap.chapter : ""}}{{chap.title ? " - "+chap.title : ""}}</a></td>
                  <td class="right aligned collapsing"><a v-bind:onclick='getDownload(chap.id)' class="ui icon button mini"><i class="cloud download icon"></i></a></td>
                  <td class="right aligned collapsing">{{timeSince(new Date(chap.timestamp*1000))}} fa</td>
                </tr>

                <tr style="display: none;" v-for="size in loadSize" v-if="!ready" class="mload">
                  <td data-label="Name"><a><div class="ui placeholder"><div class="paragraph"><div class="line"></div></div></div></a></td>
                  <td class="right aligned collapsing"><div class="ui placeholder"><div class="paragraph"><div class="line"></div></div></div></td>
                  <td class="right aligned collapsing"><div class="ui placeholder"><div class="paragraph"><div class="line"></div></div></div></td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>

      </div>

      <br>
      <br>

    </div>
  </body>
</html>
